<section>
<div class="container-fluid upper-header flex justify-between items-center px-4 py-2">
  <div class="contact-info">
    <p class="mb-0">
      <a href="contact-info" class="text-white no-underline">Twiggy Travels, Let Us Explore.</a>
      <a href="+254111280938" class="text-gray-400 hover:text-white no-underline ml-4">Tel: +254111280938</a>
      <a href="info@twiggytravels.com" class="text-gray-400 hover:text-white no-underline ml-4">info&#64;twiggytravels.com</a>
      <a href="https://www.instagram.com/twigytravel?igsh=YTFyNDZhb3R6cTRk" class="text-gray-400 hover:text-white no-underline ml-4"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/profile.php?id=100087756217898&mibextid=LQQJ4d" class="text-gray-400 hover:text-white no-underline ml-4"><i class="fab fa-facebook"></i></a>
    </p>
  </div>
  <div class="contact-btn">
    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Contact</button>
  </div>
</div>

<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"  class="mr-5 hover:text-white">Home</a>
        <a routerLink="/destination" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Destinations</a>
        <a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"  class="mr-5 hover:text-white">Services</a>
        <a routerLink="/packages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"  class="mr-5 hover:text-white">Packages</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"  class="mr-5 hover:text-white">Contact Us</a>
        <a routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page"  class="mr-5 hover:text-white">Blogs</a>
      </nav>
    </div>
  </header>
</section>
