<section class="text-black bg-white body-font relative"
    style="background-image: url('../assets/img/contact3.jpg'); background-size: cover; background-position: center;">
   
    
    <div class="container px-5 py-8 mx-auto bg-white rounded-lg shadow-lg mb-8">
        <h2 class="text-orange-500 text-3xl mb-4 font-medium title-font text-center py-2 px-4 rounded-lg">Reach Out to Twiggy Travels</h2>
    </div>


    
<!-- Centered Contact Form Section -->
<div class="flex justify-center items-center max-h-screen px-4">
    <div class="max-w-md w-full bg-white border border-blue-500 border-opacity-50 rounded-lg shadow-lg p-8" style="width: 80%;">
        <h2 class="text-black text-lg mb-4 font-medium title-font text-center"> Contact Us</h2>
        <div class="mb-4">
            <label for="name" class="block text-sm text-black">Name</label>
            <input type="text" id="name" name="name"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-black py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm text-black">Email</label>
            <input type="email" id="email" name="email"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-black py-2 px-4 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="mb-4">
            <label for="message" class="block text-sm text-black">Message</label>
            <textarea id="message" name="message"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 h-40 text-base outline-none text-black py-2 px-4 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button
            class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded-lg text-lg w-full">Send</button>
        <p class="text-xs text-black text-opacity-90 mt-3 text-center">Twiggy Travels Value your Feedback</p>
    </div>
</div>
   
        <div class="container px-5 py-8 mx-auto bg-white rounded-lg shadow-lg mb-8">
            <h2 class="text-orange-500 text-3xl mb-4 font-medium title-font text-center py-2 px-4 rounded-lg">Twiggy Travels Map Location</h2>
        </div>
   
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
        <!-- Adjust the width of the map container to take up the entire width -->
        <div class="lg:w-full bg-white rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative shadow-md"
            style="border-radius: 20px; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
            <!-- Set the height of the map iframe to cover the lower side of the container -->
            <iframe width="100%" height="400px" title="map" class="absolute inset-0" frameborder="0" marginheight="0"
                marginwidth="0" scrolling="no"
                src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Nairobi,%20Kenya&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                style="opacity: 1;"></iframe>

            <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
                <div class="lg:w-1/2 px-6">
                    <h2 class="title-font font-semibold text-black tracking-widest text-lg">Location</h2>
                    <a class="text-indigo-400 leading-relaxed">Nairobi, Kenya</a>
                    <h2 class="title-font font-semibold text-black tracking-widest text-lg mt-4">PHONE No</h2>
                    <p class="leading-relaxed">+254111280938</p>
                    <h2 class="title-font font-semibold text-black tracking-widest text-lg mt-4">Email</h2>
                    <p class="leading-relaxed">info.twiggytravels.com</p>
                </div>
            </div>
        </div>


    </div>
</section>
