<div class="flex flex-col items-center">
    <!-- Buttons -->
    <div class="flex justify-center">
        <button routerLink="/beach" routerLinkActive="active" ariaCurrentWhenActive="page" class="mr-5 hover:text-black text-xl">Beach</button>
        <button routerLink="/adventure" routerLinkActive="active" ariaCurrentWhenActive="page" class="mr-5 hover:text-black text-xl">Adventure</button>
        <button routerLink="/citybreaks" routerLinkActive="active" ariaCurrentWhenActive="page" class="mr-5 hover:text-black text-xl">City Breaks</button>
    </div>
    <!-- Link under the box -->
    <div class="bg-gray-300 p-4 rounded-lg mt-4 text-center">
        <p>Destination works!</p>
    </div>
</div>

