<div class="flex justify-center">
    <button routerLink="beach" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Beach</button>
    <button routerLink="adventure" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Adventure</button>
    <button routerLink="citybreaks" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 roundsed text-lg">Citybreaks</button>
</div>

<div>
    <div class="container mt-5">
        <!-- Header with Two Rows -->
        <header class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center text-center my-4 justify-center">
            <!-- First Row -->
            <div class="text-begin col-span-full md:col-span-1 mt-4 relative rounded-lg p-4 aspect-w-16 aspect-h-9 hover:bg-gray-200 transition duration-300 ease-in-out" style="box-shadow: 0px 4px 8px rgba(14, 54, 235, 0.5); margin-left: 20px;">
                <div class="container text-center justify-center flex">
                    <h3 class="mb-5 text-3xl font-serif text-gray-700 underline">Begin your Journey, Enjoy!</h3>
                </div>
                <p class="mb-8 font-serif" style="font-size: 18px; line-height: 1.6;">Escape to the enchanting coast of Kenya with us, where azure waters <br>golden sands beckon. Dive into exhilarating safaris, indulge in beachside <br>bliss, and immerse yourself in the vibrant local culture. Let us whisk you away on a journey of discovery and relaxation, where every moment is filled with joy and wonder. Book now and let the magic of Kenya's coast unfold before your eyes.</p>
                <div class="text-center mt-6">
                    <a href="https://www.example.com" class="inline-block px-6 py-3 bg-blue-500 text-white font-bold rounded-lg shadow-lg hover:bg-blue-600 hover:shadow-xl transition duration-300">Explore Available Offers</a>
                </div>
            </div>
            
            
            <div class="col-span-full md:col-span-1 mt-4 relative rounded-lg p-4 aspect-w-16 aspect-h-9" style="overflow: hidden; border-radius: 12px; margin-left: 20px;">
                <!-- Placeholder image with soft borders, shadow effect, and reflection -->
                <div class="image-container relative" style="border-radius: inherit;">
                    <img src="../assets/img/desimages/malindidream.jpg" class="w-full" style="max-width: 100%; height: 400px; box-shadow: 0px 4px 8px rgba(13, 165, 240, 0.932); border-radius: 12px;" alt="Placeholder Image">
                </div>
            </div>
            
        </header>
    </div>
</div>












<div class="container">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-5 ml-4">
        <!-- First Row -->
        <div class="container mt-5 travel-december-cards">
            <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 ml-4 font-sans transition duration-300 ease-in-out transform hover:shadow-2xl hover:-translate-y-1 hover:scale-105">
                <img class="object-cover object-center w-full h-56" src="../assets/img/desimages/beatif.jpeg" alt="Hells Kitchen">
                <div class="flex items-center px-6 py-3 bg-gray-900">        
                    <h1 class="mx-3 text-lg font-semibold text-white">Hells Kitchen</h1>
                </div>
                <div class="px-6 py-4">    
                    <p class="py-2 text-gray-700 dark:text-gray-400">Journey to Hells Kitchen: stunning landscapes, vibrant culture, and endless adventure await you.</p>
                </div>
            </div>
        </div>
        
        <div class="container mt-5 travel-december-cards">
            <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 ml-4 font-sans transition duration-300 ease-in-out transform hover:shadow-2xl hover:-translate-y-1 hover:scale-105">
                <img class="object-cover object-center w-full h-56" src="../assets/img/desimages/park.jpeg" alt="Museum">
                <div class="flex items-center px-6 py-3 bg-gray-900">        
                    <h1 class="mx-3 text-lg font-semibold text-white">National Museum</h1>
                </div>
                <div class="px-6 py-4">    
                    <p class="py-2 text-gray-700 dark:text-gray-400">Experience Nairobi’s raw beauty; marvel at wildlife, lush landscapes. Your adventure starts here.</p>
                </div>
            </div>
        </div>
        
        
        <div class="container mt-5 travel-december-cards">
            <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 ml-4 font-sans transition duration-300 ease-in-out transform hover:shadow-2xl hover:-translate-y-1 hover:scale-105">
                <img class="object-cover object-center w-full h-56" src="../assets/img/desimages/twig.jpeg" alt="Creek">
                <div class="flex items-center px-6 py-3 bg-gray-900">        
                    <h1 class="mx-3 text-lg font-semibold text-white">Creek</h1>
                </div>
                <div class="px-6 py-4">    
                    <p class="py-2 text-gray-700 dark:text-gray-400">Golden sunrises, tranquil waves, and palm-fringed horizons await. Join us on a coastal odyssey!.</p>
                </div>
            </div>
        </div>        


        <div class="container mt-5 travel-december-cards">
            <div class="w-full max-w-sm overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 ml-4 font-sans transition duration-300 ease-in-out transform hover:shadow-2xl hover:-translate-y-1 hover:scale-105">
                <img class="object-cover object-center w-full h-56" src="../assets/img/desimages/gabb.jpeg" alt="marafa">
                <div class="flex items-center px-6 py-3 bg-gray-900">        
                    <h1 class="mx-3 text-lg font-semibold text-white">Marafa Canyons</h1>
                </div>
                <div class="px-6 py-4">    
                    <p class="py-2 text-gray-700 dark:text-gray-400">Embrace Mombasa’s serene beauty: majestic terrains, lush greenery, and tranquil skies await you.</p>
                </div>
            </div>
        </div> 

        <!-- Second Row --> 
        <div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 transform transition duration-300 ease-in-out giraffe-card" style="font-family: sans-serif; position: relative;">
            <img class="object-cover w-full h-56" src="../assets/img/desimages/girr.jpg" alt="Giraffe">
        
            <div class="py-5 pl-4 text-center" style="font-size: 20px;">
                <h2 class="text-blue-800 font-bold underline" style="text-transform: uppercase; font-style: italic;">GIRAFFE</h2>
                <p class="text-sm mb-0">Giraffes gracefully roam, inviting you to join their wild safari adventure today.</p>
            </div>
        
            <!-- Custom CSS for hover effect -->
            <style>
                .giraffe-card::before {
                    content: "";
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, #afc9fc, #afc9fc); /* Change gradient colors as needed */
                    z-index: -1;
                    transition: top 0.5s ease; /* Smooth transition for top movement */
                }
        
                .giraffe-card:hover::before {
                    top: 0; /* Move the gradient from top to bottom on hover */
                }
            </style>
        </div>  

    
        <div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 transform transition duration-300 ease-in-out elephant-card" style="font-family: sans-serif; position: relative;">
            <img class="object-cover w-full h-56" src="../assets/img/elepha.jpg" alt="elephant">
        
            <div class="py-5 pl-4 text-center" style="font-size: 20px;">
                <h2 class="text-blue-800 font-bold underline" style="text-transform: uppercase; font-style: italic;">ELEPHANT</h2>
                <p class="text-sm mb-0">Encounter the awe-inspiring grace of elephants in their untamed realm.</p>
            </div>
        
            <!-- Custom CSS for hover effect -->
            <style>
                .elephant-card::before {
                    content: "";
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, #afc9fc, #afc9fc); /* Change gradient colors as needed */
                    z-index: -1;
                    transition: top 0.5s ease; /* Smooth transition for top movement */
                }
        
                .elephant-card:hover::before {
                    top: 0; /* Move the gradient from top to bottom on hover */
                }
            </style>
        </div>  




        
        <div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 transform transition duration-300 ease-in-out leopard-card" style="font-family: sans-serif; position: relative;">
            <img class="object-cover w-full h-56" src="../assets/img/desimages/leo.jpg" alt="leopard">
        
            <div class="py-5 pl-4 text-center" style="font-size: 20px;">
                <h2 class="text-blue-800 font-bold underline" style="text-transform: uppercase; font-style: italic;">LEOPARD</h2>
                <p class="text-sm mb-0">Discover the majestic leopard perched high, beckoning you to our wild adventure.</p>
            </div>
        
            <!-- Custom CSS for hover effect -->
            <style>
                .leopard-card::before {
                    content: "";
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, #afc9fc, #afc9fc); /* Change gradient colors as needed */
                    z-index: -1;
                    transition: top 0.5s ease; /* Smooth transition for top movement */
                }
        
                .leopard-card:hover::before {
                    top: 0; /* Move the gradient from top to bottom on hover */
                }
            </style>
        </div>       
        
        
        
        
        

<div class="w-full max-w-xs overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 transform transition duration-300 ease-in-out lion-card" style="font-family: sans-serif; position: relative;">
    <img class="object-cover w-full h-56" src="../assets/img/desimages/lio.webp" alt="Lions">

    <div class="py-5 pl-4 text-center" style="font-size: 20px;">
        <h2 class="text-blue-800 font-bold underline" style="text-transform: uppercase; font-style: italic;">LIONS</h2>
        <p class="text-sm mb-0">Lions beckon: Join our thrilling safari, where the wild roars with enchantment.</p>
    </div>

    <!-- Custom CSS for hover effect -->
    <style>
        .lion-card::before {
            content: "";
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #afc9fc, #afc9fc); /* Change gradient colors as needed */
            z-index: -1;
            transition: top 0.5s ease; /* Smooth transition for top movement */
        }

        .lion-card:hover::before {
            top: 0; /* Move the gradient from top to bottom on hover */
        }
    </style>
</div>

    </div>
</div>


        
    









    
    <!-- Start of discover Section -->
    <div class="container vip-section mt-5">
        <div class="row">
            <div class="col-md-12 flex-column">
                <div class="description-container text-center bg-blue-100 p-8 rounded-lg font-serif ml-4">
                    <h1 class="vip-heading text-3xl font-bold mb-4">Discover the Healing Power of Beaches</h1>
                    <p class="vip-description text-lg">Let the sand cradle your feet, and the ocean’s rhythm soothe your soul. Visiting the beach isn’t just a getaway; it’s a prescription for well-being. Dive into ‘Blue Space’—where nature heals.</p>
                    <div class="text-center mt-6">
                        <a href="https://www.example.com" class="inline-block px-6 py-3 bg-blue-500 text-white font-bold rounded-lg shadow-lg hover:bg-blue-600 hover:shadow-xl transition duration-300">Explore Available Offers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
            <h3 class="mb-5 text-3xl font-serif text-gray-700 ">Malindi Beach Resort</h3>
            <!-- Your other content goes here -->
        </div>
        


        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
<!--Dec card 1-->
<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/voy.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Malindi & Watamu</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 18,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>


<!-- Dec card 2-->
<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/bam.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Malindi & Watamu</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 18,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>
<!--Dec Card 3-->
<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/ser.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Malindi & Watamu</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 37,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>
</div>
</div>
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="container text-center justify-center flex">
    <h3 class="mb-8 text-3xl font-serif text-gray-700">Diani/Ukunda</h3>
    <!-- Your other content goes here -->
</div>


        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->

<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/southern.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Diani/Ukunda</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 37,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>


            <!-- December Card 2 -->
<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/sea.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Diani/Ukunda</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 36,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>


            <!-- December Card 3 -->
<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/bea.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Diani/Ukunda</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 36,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>
</div>
</div>
    
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="mb-5 text-brown-800 text-3xl font-serif text-gray-700  container text-center justify-center flex">
            <h3>Mombasa North Coast</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->


<div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
    <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/nap.jpg);"></div>
    <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
        <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
            <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
            <ul class="list-styled">
                <li><strong>Location:</strong> Diani/Ukunda</li>
                <li><strong>Duration:</strong> 3 Days</li>
                <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
            </ul>
        </div>
        <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
            <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 26,000</span>
            <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
        </div>
    </div>
</div>

            <!-- December Card 2 -->



            <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/mn.jpg);"></div>
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
                    <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
                        <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
                        <ul class="list-styled">
                            <li><strong>Location:</strong> Diani/Ukunda</li>
                            <li><strong>Duration:</strong> 3 Days</li>
                            <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
                        <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 29,300</span>
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
                    </div>
                </div>
            </div>





            <!-- December Card 3 -->


            <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/mn.jpg);"></div>
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
                    <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
                        <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
                        <ul class="list-styled">
                            <li><strong>Location:</strong> Diani/Ukunda</li>
                            <li><strong>Duration:</strong> 3 Days</li>
                            <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
                        <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 25,000</span>
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <!-- Available  -->
    
    <div class="container mt-5 travel-december-cards">
        <div class="mb-5 text-brown-800 text-3xl font-serif text-gray-700 container text-center justify-center flex">
            <h3>Explore More</h3>
            <!-- Your other content goes here -->
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- December Card 1 -->

            <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/silver.png);"></div>
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
                    <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
                        <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
                        <ul class="list-styled">
                            <li><strong>Location:</strong> Lamu</li>
                            <li><strong>Duration:</strong> 3 Days</li>
                            <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
                        <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 36,000</span>
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
                    </div>
                </div>
            </div>

            <!-- December Card 2 -->
            <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/flamingo.jpg);"></div>
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
                    <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
                        <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
                        <ul class="list-styled">
                            <li><strong>Location:</strong> Lamu</li>
                            <li><strong>Duration:</strong> 3 Days</li>
                            <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
                        <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 36,000</span>
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
                    </div>
                </div>
            </div>



            <!-- December Card 3 -->

            <div class="flex flex-col items-center justify-center w-full max-w-sm mx-auto">
                <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md transition duration-300 ease-in-out transform hover:shadow-lg " style="background-image: url(../assets/img/desimages/diamond.jpg);"></div>
                <div class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800 transition duration-300 ease-in-out transform hover:shadow-lg hover:-translate-y-1 hover:scale-105 font-serif">            
                    <div class="border border-gray-300 rounded-md p-4 hover:shake">                                       
                        <h5 class="text-blue-800 underline font-bold">TRIP INFORMATION</h5> <!-- Added font-bold for bold text -->
                        <ul class="list-styled">
                            <li><strong>Location:</strong> Lamu</li>
                            <li><strong>Duration:</strong> 3 Days</li>
                            <li><strong>Inclusions:</strong> Free Sightseeing & Hotel</li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between px-3 py-2" style="background-color: #B16952;">
                        <span class="font-bold text-gray-800 dark:text-gray-200">Ksh 36,000</span>
                        <button class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-blue-800 rounded hover:bg-blue-700 dark:hover:bg-blue-600 focus:bg-blue-700 dark:focus:bg-blue-600 focus:outline-none">Book Now</button>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    
    
    
    <!-- Testimonials Section --><!-- Testimonials Section -->
    <section class="bg-white">
        <div class="container px-4 py-5">
            <h1 class="text-center text-blue font-serif text-4xl mb-5">What our <span class="text-blue">clients</span> say</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="col">
                    <div class="p-6 rounded shadow-md-blue hover:bg-blue-100 transition duration-300 ease-in-out" style="box-shadow: 0px 4px 8px rgba(14, 54, 235, 0.5)">
                        <p class="text-brown text-lg">“My wild safari experience with Twiggy Travels was nothing short of incredible! From encountering majestic wildlife to breathtaking landscapes, every moment was filled with excitement and wonder. A truly unforgettable adventure!.”</p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="rounded-full w-16 h-16 me-3" alt="Robert's Photo">
                            <div>
                                <h5 class="mb-0 font-bold">Robert</h5>
                                <p class="mb-0 text-muted">CTO, Robert Consultancy</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Repeat the same structure for other cards -->
                <div class="col">
                    <div class="p-6 rounded shadow-md-blue hover:bg-blue-100 transition duration-300 ease-in-out" style="box-shadow: 0px 4px 8px rgba(14, 54, 235, 0.5)">
                        <p class="text-brown text-lg">"Visiting ancient places with Twiggy Travels was like stepping back in time. The rich history and culture brought to life by knowledgeable guides made the experience truly fascinating and engaging. A must-do for history enthusiasts!"
                        </p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="rounded-full w-16 h-16 me-3" alt="Jeny Doe's Photo">
                            <div>
                                <h5 class="mb-0 font-bold">Jeny Doe</h5>
                                <p class="mb-0 text-muted">CEO, Jeny Consultancy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-6 rounded shadow-md-blue hover:bg-blue-100 transition duration-300 ease-in-out" style="box-shadow: 0px 4px 8px rgba(14, 54, 235, 0.5)">
                        <p class="text-brown text-lg">"The customer service at Twiggy Travels exceeded all expectations. Friendly staff and a genuine commitment to customer satisfaction made my trip smooth and enjoyable. I felt valued and well-cared for throughout. Highly recommended!"</p>
                        <div class="flex items-center mt-4">
                            <img src="https://images.unsplash.com/photo-1488508872907-592763824245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" class="rounded-full w-16 h-16 me-3" alt="Ema Watson's Photo">
                            <div>
                                <h5 class="mb-0 font-bold">Ema Watson</h5>
                                <p class="mb-0 text-muted">Marketing Manager at Stech</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
    
    


